/* src\components\TelaInicial\styles.css */

.tela-inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 400px;
    background-color: transparent;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    font-family: 'Courier New', Courier, monospace;
    backdrop-filter: blur(10px);
}

h1 {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200;
}

button {
    display: block;
    margin: 0 auto;
    position: relative;
    background-color: #4CAF50;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #113b13;
}