/* Estilização para o cardápio */
.cardapio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title{
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 16px;
}

.cardapio-itens {
    width: 100%;
    max-width: 400px;
    padding: 12px;
    margin: 8px 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cardapio-item h3 {
    font-size: 18px;
    color: #555;
    margin: 0 0 8px;
}

.cardapio-item p {
    font-size: 14px;
    color: #777;
    margin: 0;
}